body{
  background-color: #1c1e25;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a{
  text-decoration: none;
  
}

.aos-animate{
  cursor: pointer;
}

@media (max-width:435px) {

  html{
    overflow-x: hidden !important;
  }
  body{
    overflow-x: hidden !important;
  }
  
}